.center{
    text-align: center;
    color: Black;
}

.col.s6{
    text-align: center;
}

.row{
    border-style: solid;
}

.ilike-blue-container{
    @extend .blue, .lighten-4;
}

.henryLayout{
    height: 
    width: 50%;
    max-width: 600px;
    min-width: 600px;
    text-align: center;
    color: black;
    background-color: cornflowerblue;
    border-style:solid;
    margin: auto;
}


.deonLayout{

}

.krisLayout{

}

.yauHoLayout{

}