.center{
    text-align: center;
    color: Black;
}

#container{
    position: absolute;
    width:100%;
    height: 100%;
    overflow:hidden;
    border-style: solid;
}

.col.s6{
    text-align: center;
}

.row{
    border-style: solid;
}

.comicLayout{
    height: 
    width: 50%;
    max-width: 600px;
    min-width: 600px;
    text-align: center;
    color: black;
    background-color: cornflowerblue;
    border-style:solid;
    margin: auto;
}


.deonLayout{

}

.krisLayout{

}

.yauHoLayout{

}